plugin: 'community.digitalocean.digitalocean'
api_token: ''
attributes:
  - id
  - name
  - networks
  - tags
filters:
  - '"env:staging" in do_tags'
compose:
  ansible_host: do_networks.v4 | selectattr('type','eq','public') | map(attribute='ip_address') | first